
@import "../../theme/variables";

page-home {

  ion-content {
    background: url('../assets/UI/background/'+$bg) center center/cover fixed no-repeat;
    overflow: hidden;
  }
  ion-select {
    width: 100%; max-width: 100%; font-size: 20px; 
    position: relative;
    padding: 0 !important;
  }

  .clickable {
    transition: opacity .2s ease-in-out;
    &:active { opacity: .8 !important; }
  }

  // Thanh điều hướng trên cùng
  .background {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    header {
      width: 100%;
      height: 120px;
      @if $light == true {
        background: rgba(0, 0, 0, 0.36);
      } @else {
        background: rgba(255,255,255,.12);
      }

      .nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        @if $effect == true {
          transition: .3s all ease-in-out;
        }
        &.show {
          opacity: 1;
          visibility: visible;
        }

        .nav-bridge {
          height: 4px;
          background: linear-gradient(to right, rgba(227, 237, 255, 0.72) 0, rgba(255, 255, 255, 0.9) 90%);
          position: absolute;
          left: calc(29% + 8px);
          opacity: 0;
          width: 0;
          @if $effect == true {
            transition: .2s all ease-in-out .2s;
          }

          &.show {
            @if $effect == true {
              transition: .2s all ease-in-out;
            }
            opacity: 1;
            width: calc(9.3% - 12px);
          }
        }

        .nav-box {
          width: calc(24% + 6px);
          height: 0;
          padding-top: calc(24% + 6px);
          border-radius: 50%;
          position: relative;
          display: flex;
          box-sizing: border-box;

          & > * {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: 50%;
            background: rgba(227, 237, 255, 0) center/80% no-repeat;
            box-sizing: border-box;
            border: 3px solid rgba(227, 237, 255, 1);
            opacity: 0;
            visibility: hidden;
            @if $effect == true {
              transition: .3s all ease-in-out;
              filter: drop-shadow(0 0 10px #aaa) drop-shadow(0 0 2px #fff);
            }

            &.show {
              @if $effect == true { transition: .3s all ease-in-out .2s; }
              opacity: 1;
              visibility: visible;
            }
          }
        }

        .selected-plant {
          border: 3px solid rgba(227, 237, 255, .72);
          opacity: 0;
        }
        .current-view {
          border: 4px solid rgba(255, 255, 255, .9);
          background: center/75% no-repeat;
          &.camera {
            background: url("../assets/UI/icon/camera.svg") center/100% no-repeat;
          }
          &.details {
            background: url("../assets/UI/icon/notebook.svg") center/100% no-repeat;
          }
        }
        .btn-back {
          background-image: url("../assets/UI/icon/back.svg");
          background-size: 50%;
        }
        .btn-addnew {
          background-image: url("../assets/UI/icon/plus.svg");
          background-size: 60%;
        }
        .btn-remove {
          background-image: url("../assets/UI/icon/remove.svg");
          background-size: 60%;
        }
      }
    }
  
    #body {
      position: relative;
      height: calc(100% - 204px);
      display: block;

      .garden-protected {
        margin: 30px 20px;
        padding: 10px;
        border-top: 5px solid #3d85ce;
        background: rgba(255,255,255,.8);

        .garder-protected-info {
          font-size: 20px;
          text-align: center;
          font-weight: bold;
          color: #315d83;
        }

        .btn-authorize {
          text-align: center;
          margin: 12px 8px 0px;
          div {
            display: inline-block;
            padding: 4px 8px;
            background: #396da0;
            border-radius: 4px;
            border-bottom: 4px solid #1b3a58;
            font-size: 20px;
            color: #fff;
            &:active {
              margin-top: 2px;
              border-bottom-width: 2px;
            }
          }
        }
      }

      .cylinders-wrapper {
        overflow: auto;
        max-height: 100%;
        position: relative;

        .cylinder {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          align-content: flex-start;
          background: #f0f8ff17;
          margin: 24px 10px 4px;
          border: 2px solid aliceblue;
          border-radius: 10px;
          position: relative;
  
          .cylinder-name {
            position: absolute;
            top: -20px;
            background: #ece3d1;
            color: #29321a;
            border: 2px solid aliceblue;
            padding: 2px 6px;
            font-size: 16px;
            border-radius: 10px;
          }
  
          .plant {
            width: 25%;
            margin: 4.16666%;
            margin-bottom: 7px;
            height: 0;
            padding-top: 25%;
            border-radius: 50%;
            background: rgba(255,255,255,.37);
            position: relative;
            &:empty {
              visibility: hidden;
              opacity: 0;
              padding: 0;
              margin-top: 0;
              margin-bottom: 0;
            }
    
            .plant-icon {
              position: absolute;
              top: 15%;
              left: 15%;
              width: 70%;
              height: 70%;
              background: rgba(227, 237, 255, 0) center center/contain no-repeat;
              @if $effect == true {
                filter: drop-shadow(4px 4px 2px rgba(0,0,0,.7));
              }
            }
          }
        }
      }


    } // End [#body]
  } // End [.background]
}
