<ion-content scroll="false">
  <div class="background">
    <header>
      <div class="forecast"></div>
      <div class="breadscrumb" [ngClass]="{show: isShowQuickView || isShowCreatePlantPanel}">
        <div class="selected-plant {{selectedPlant?.type}}" [ngClass]="{show: isShowQuickView}"></div>
        <i class="breadscrumb-bridge" [ngClass]="{show: isShowDetails||isCameraView}"></i>
        <div class="current-page clickable" [ngClass]="{camera: isCameraView, details: isShowDetails, show: isShowDetails||isCameraView}"></div>
        <div class="btn-back clickable" (click)="onBackToMain()"></div>
      </div>
    </header>
    <section id="body" (click)="onClickOut($event)">
      <!-- List Plants -->
      <div class="plant clickable" *ngFor="let plant of currentPlants" title="{{plant.name}}"
        (click)="onViewPlant(plant)">
        <div class="plant-icon {{plant.type}}"></div>
      </div>
      <!-- Create new plant button -->
      <div class="plant clickable" title="Thêm cây trồng mới" (click)="onCreatePlant()">
        <div class="plant-icon btn-addnew"></div>
      </div>
      <div class="plant"></div>
      <div class="plant"></div>

      <!-- Create Plant Panel -->
      <div class="newplant-popup" [ngClass]="{show: isShowCreatePlantPanel}">
        <div class="newplant-header">Cây Trồng Mới</div>
        <div class="newplant-body">
          <div class="select-plant-type"></div>
          <table class="input-table">
            <tr class="input-group"><td><label class="input-label" for="newplant-name">Tên:</label></td><td><input type="text" id="newplant-name" placeholder="Tên cây trồng"></td></tr>
            <tr class="input-group"><td><label class="input-label">Ngày ươm:</label></td><td><ion-datetime displayFormat="DD MMMM YYYY" pickerFormat="DDDD DD MMM YYYY" [(ngModel)]="myDate" doneText="Xong" cancelText="Hủy"></ion-datetime></td></tr>
          </table>
          <div class="create-plant-btn">Tạo Cây Trồng Mới</div>
        </div>
      </div>

      <!-- Main Panel -->
      <article id="quickview-panel" [ngClass]="{show: isShowQuickView, expand: isShowDetails||isCameraView}">
        <div class="quickview-panel-inner">
          <!-- Nav Panel -->
          <div class="selected-plant-nav">
            <div class="selected-plant-detail clickable" (click)="onViewDetailPlant(selectedPlant)" [ngClass]="{show: isShowDetails}"></div>
            <div class="selected-plant-icon clickable {{selectedPlant?.type}}" (click)="onViewDetailPlant(selectedPlant)">
              <div class="connection-light clickable" [ngClass]="{connecting: blctl.connecting, online: blctl.connected}"></div>
            </div>
            <div class="selected-plant-camera clickable" (click)="onViewCamera(selectedPlant)"></div>
          </div>

          <!-- Panel Body -->
          <div class="quickview-panel-body">
            <div class="plant-details" [ngClass]="{show: isShowDetails}">
              <div class="plant-details-group">
                <div class="plant-details-label">Chế độ hoạt động</div>
                <div class="plant-details-tab">
                  <div class="plant-details-head">
                    <div class="plant-btn-label clickable default" [ngClass]="{checked: selectedPlant?.auto}" (click)="onToggleAuto(true)">Tự động</div>
                    <div class="plant-btn-label clickable default" [ngClass]="{checked: !selectedPlant?.auto}" (click)="onToggleAuto(false)">Thủ công</div>
                  </div>

                  <!-- Details -->
                  <div class="plant-details-body">
                    <table class="plant-btn-hidden-group" [ngClass]="{show: selectedPlant?.auto}">
                      <tr>
                        <td>Tưới Nước + Dinh dưỡng</td>
                        <td><label class="btn-switch">
                            <input type="checkbox" checked>
                            <div class="btn-slider"></div></label></td>
                      </tr>
                      <tr>
                        <td>Châm phân (pH: {{selectedPlant?.pH}})</td>
                        <td>
                          <label class="btn-switch">
                            <input type="checkbox" checked>
                            <div class="btn-slider"></div>
                          </label>
                        </td>
                      </tr>
                    </table>
                    <table class="plant-btn-hidden-group" [ngClass]="{show: !selectedPlant?.auto}">
                      <tr>
                        <td>Tưới Nước + Dinh dưỡng</td>
                        <td>
                          <label class="btn-switch">
                            <input type="checkbox" [checked]="selectedPlant?.pins[3] && selectedPlant?.pins[3].state" (change)="onSwitchChange(3, $event)">
                            <div class="btn-slider"></div>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <td>Châm phân (pH: {{selectedPlant?.pH}})</td>
                        <td>
                          <label class="btn-switch">
                            <input type="checkbox" [checked]="selectedPlant?.pins[1] && selectedPlant?.pins[1].state" (change)="onSwitchChange(1, $event)">
                            <div class="btn-slider"></div>
                          </label>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>

              <!-- Enviroment -->
              <div class="plant-details-group">
                <div class="plant-details-label">Môi trường sinh trưởng</div>
                <div  class="plant-envs">
                  <table>
                    <tr>
                      <td>Nhiệt độ / Độ ẩm</td>
                      <td>{{selectedPlant?.temperature}}ºC / {{selectedPlant?.humidity}}%</td>
                    </tr>
                    <tr>
                      <td>pH</td>
                      <td>{{selectedPlant?.pH}}</td>
                    </tr>
                  </table>
                </div>
              </div>

              <!-- Chart -->
              <div class="plant-details-group">
                <div class="plant-details-label">Biểu đồ hoạt động</div>
                <div class="plant-realtime-chart-wrapper">
                  <div class="plant-details-flexbox plant-realtime-chart">
                    <!-- <insys-chart [options]="options" [data]="selectedPlant?.chartViewData" #insyschart></insys-chart> -->
                    <canvas #insyschart></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Camera -->
            <div class="camera-panel-wrapper" [ngClass]="{show: isCameraView}">
              <div class="camera-panel">
                <iframe width="100%" height="100%" [src]="ytbchannel" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
              </div>
            </div>

            <!-- Timelife -->
            <div class="selected-plant-timeline" data-cur="Ngày 20">
              <div class="timeline-startday">{{selectedPlant?.start}}</div>
              <div class="timeline-endday">{{selectedPlant?.start}}</div>
              <div class="timeline-cur-range">
                <div class="timeline-cur"></div>
              </div>
            </div>
            <!-- Plant Name -->
            <div class="selected-plant-name" [ngClass]="{show: !isShowDetails && !isCameraView}">{{selectedPlant?.name}}</div>
          </div>
        </div>
      </article>
    </section>
    <footer>
      <div class="btn-nav nav-home"></div>
      <div class="btn-nav nav-plants highlight"></div>
      <div class="btn-nav nav-settings"></div>
    </footer>
  </div>
  <!-- <div class="background">
    <div class="weather">
      <div class="weather-icon">
        <div class="weather-date">{{ clock | async | date:'dd/MM/yyyy' }}</div>
      </div>
      <div class="env">
        <div class="env-time">{{ clock | async | date:'HH:mm:ss' }}</div>
        <div class="env-info">
          <div class="env-temp">{{averageTemp}}°C</div>
          <div class="env-humi">{{averageHumi}}%</div>
        </div>
      </div>
      <div class="icon-cloud">
      </div>
      <div class="btn-logout" (click)="onLogout()">Đăng Xuất <div class="btn-icon-logout"></div></div>
    </div>
    <hr class="roundy-line">
    <div class="gardens">
      <div class="garden" *ngFor="let garden of currentGardens" id="g{{garden.managerDeviceId}}">
        <div class="gd-name" (click)="onToggleDetail(garden.managerDeviceId)">{{ garden.name }}</div>
        <div class="gd">
          <div class="gd-short">
            <div class="gd-icon {{ garden.type }}"></div>
            <div class="gd-info">
              <div class="gd-table-wrapper">
                <table>
                  <tr><td>Ngày trồng</td><td>{{ garden.start }}</td></tr>
                  <tr><td>Mức phát triển</td><td>{{ garden.progress }} %</td></tr>
                  <tr><td>Thu hoạch sau</td><td>{{ garden.remaining }} ngày</td></tr>
                  <tr><td>Phát triển</td><td>{{ garden.growth_status }}</td></tr>
                  <tr><td>Sâu bệnh</td><td>{{ garden.pests }}</td></tr>
                </table>
              </div>
            </div>
          </div>
          <div class="gd-detail">
            <div class="gd-dt">
              <div class="gd-dt-progress">
                <div class="gd-dt-curprogress"></div>
              </div>
              <ion-grid>
                <ion-row class="hr-bottom">
                  <ion-col col-12>Tự động Tưới nước/Bón phân <ion-toggle checked="{{ garden.config.auto }}"
                    [(ngModel)]="garden.config.auto" (ionChange)="onToggleAuto()"></ion-toggle></ion-col>
                  <ion-col col-6 *ngIf="!garden.config.auto">Tưới nước <ion-toggle checked="{{garden.config.water_manure}}"
                    [(ngModel)]="garden.config.water_manure" (ionChange)="onWater(garden)"></ion-toggle></ion-col>
                  <ion-col col-6 *ngIf="!garden.config.auto">Bón phân <ion-toggle checked="{{garden.config.water_manure}}"
                    [(ngModel)]="garden.config.water_manure"></ion-toggle></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>Lượng phân còn lại</ion-col>
                    <ion-col col-6>1Kg (20 ngày)</ion-col>
                </ion-row>
              </ion-grid>
              <div class="wt-chart"> -->
                <!-- <div class="water-planning">
                  <div class="water-planning-icon"></div>
                  <div class="time-to-water">Tưới nước/Bón phân sau 20p nữa</div>
                </div> -->
                <!-- <div class="growth-chart">
                  <insys-chart [options]="options" [data]="garden['chartViewData']" #insyschart></insys-chart>
                  <div class="realtime">
                    <div class="temperature">{{garden['temperature']}}°C</div>
                    <div class="humidity">{{garden['humidity']}}%</div>
                  </div>
                </div>
              </div>
              <div class="timetable">
                <div class="timetable-header">Đặt lịch tưới nước/bón phân</div>
                <div class="timetable-detail">
                  <ion-list>
                    <ion-item>
                      <ion-label>Tưới 200ml lúc 06:30</ion-label>
                      <ion-select [(ngModel)]="weekday" okText="Lưu thay đổi" cancelText="Hủy thay đổi">
                        <ion-option value="1">hằng ngày</ion-option>
                        <ion-option value="2">cách mỗi n ngày</ion-option>
                      </ion-select>
                    </ion-item>
                    <ion-item>
                      <ion-label>Tưới 200ml lúc 17:30</ion-label>
                      <ion-select [(ngModel)]="weekday" okText="Lưu thay đổi" cancelText="Hủy thay đổi">
                        <ion-option value="1" data-ng-selected="true">hằng ngày</ion-option>
                        <ion-option value="2">cách mỗi n ngày</ion-option>
                      </ion-select>
                    </ion-item>
                    <button ion-button class="form-control btn btn-add"><i aria-hidden="true" class="fa fa-plus-circle"></i></button>
                  </ion-list>
                </div>
              </div>
            </div>
          </div>
          <div class="gd-detail-toggle">
            <div class="gd-detail-txt" (click)="onToggleDetail(garden.managerDeviceId)">xem chi tiết</div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</ion-content>