

.input-table {
  width: 100%;
  tr.input-group {
    position: relative;
    
    td {
      position: relative;
    }
    .input-label {
      font-size: 20px;
      color: inherit;
      white-space: nowrap;
    }
    input {
      color: inherit;
      flex-grow: 10;
      background: transparent;
      border: none;
      outline: none;
      font-size: 20px;
    }
  }
}
.datetime-text {
  font-size: 20px;
}