$bg: nth($bgs, 12 + (1));

@if $bg == nth($bgs, 1) {
  $light: false;
}

page-welcome {

  ion-content {
    background: url('../assets/UI/background/'+$bg) center center/contain;
    overflow: hidden;
  }

  #actress {
    background: url('../assets/UI/others/customer-service-person.png') center bottom/contain no-repeat;
    position: fixed;
    bottom: 84px;
    left: 10px;
    width: 150px;
    height: 225px;
    filter: drop-shadow(0 0 14px rgba(255,255,255,.4));
  }

  .clickable {
    transition: opacity .2s ease-in-out;
    &:active { opacity: .8 !important; }
  }

  hr { background: rgba(255,255,255,100) !important; height: 1px!important;
    &:last-child { display: none; }
  }

  .label-info {
    display: block;
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 4px 8px;
    border-radius: 8px;
    background: rgba(155, 207, 247, 0.30);
    &.half { background: rgba(155, 207, 247, 0.5); }
    &.full { background: rgba(101, 154, 195, .9); }
  }

  .label-welcome {
    font-size: 24px;
    color: #fff;
    margin: 10px 0;
    display: block;
    text-align: center;
    
    &.half { font-size: 22px; }
  }

  .alt-view {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    &.show {
      opacity: 1;
      visibility: visible;
      max-height: 500px;
    }
  }

  .table-sky {
    margin: 5px 5px 10px;
    padding: 4px;
    border-left: 7px solid rgba(206, 228, 249, 0.82);
    background: rgba(155, 208, 252, 0.75);
    font-size: 20px;
    text-align: left;
    color: #fff;
    table {
      width: 100%;
      td:first-child { text-align: left; }
      td:nth-child(2) { text-align: center; }
    }
  }

  .btn-metal {
    display: inline-block;
    padding: 10px 15px;
    background: #366e9a;
    color: #fff;
    border-radius: 10px;
    margin: 10px 10px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 4px solid #0e1a2b;
    -webkit-box-shadow: 2px 1px 14px -5px #10202a;
    box-shadow: 2px 1px 14px -5px #10202a;

    &:active {
      margin-top: 12px;
      border-bottom-width: 2px;
    }
  }

  .list-avail {
    background: #f0f8ffa8;
    margin: 10px 4px 0;
    border: 1.4px solid #ffffffcc;
    border-radius: 10px;
    position: relative;
    text-align: center;
    overflow: hidden;

    .list-head {

    }
    .list-body {
      max-height: 400px;
      padding: 10px 10px;
      overflow: auto;

      input { display: none; }
      label {
        display: block;
        color: #6132d4;
        font-size: 18px;
        text-align: left;
        border-bottom: 1px solid #fff;
        padding: 2px 4px 4px;
        span { display: block; position: relative; width: 100%; }
      }
      input:checked ~ span:after {
        content: "";
        content: "";
        position: absolute;
        right: 7px;
        top: 1px;
        width: 20px;
        height: 20px;
        background: url(../assets/UI/icon/arrow-checkmark.png) center center/contain no-repeat;
      }
    }
    .list-foot {
      padding: 8px;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      background: rgba(93, 101, 199, 0.42);
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }
  }

  .background {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  
    #body {
      position: relative;
      height: calc(100% - 84px);
      display: block;
      padding-top: 10px;
      overflow: auto;

      article {
        background: #f0f8ff17;
        margin: 30px 10px 4px;
        border: 1.4px solid #ffffffcc;
        border-radius: 10px;
        padding: 0 9px 9px;
        position: relative;
        text-align: center;

        .article-label {
          text-align: center;
          margin-top: -22px;
          margin-bottom: 10px;

          label {
            display: inline-block;
            margin: auto;
            background: #70b4f1;
            color: #fdfffe;
            border: 2px solid aliceblue;
            padding: 3.5px 9px 2px;
            font-size: 16px;
            border-radius: 10px;
          }
          &.large > label {
            font-size: 22px;
          }
          &.bold > label {
            font-weight: bold;
          }
        }
        .btn-hide { display: none; }
        .btn-hide.show { display: inline-block; }

        &#settings-sec {
          .security-code {
            border-radius: 4px;
            margin: 10px;
            font-size: 20px;
            text-align: center;
            border: none;
            color: #132865;
            font-family: monospace;
            vertical-align: middle;
            &.lock:after {
              content: "";
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
            }
          }
          .btn-edit {
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            width: 27px;
            text-align: center;
            text-shadow: 0 0 2px #fff;
            border: 1px solid #fff;
            border-radius: 4px;
            background: rgba(155, 208, 252, 0.75);
            color: #4e1c92;
          }
        }
      }
    } // End [#body]
  } // End [.background]
}
